* {
  box-sizing: border-box;
}

#home {
  width: 100vw;
  height: 100vh;
  background-color: black;
  display: none;
}
#home.active {
  display: block;
}
#home h1 {
  position: relative;
  top: 30vh;
  font-family: Bebas Neue;
  font-weight: regular;
  color: white;
  font-size: 40px;
  text-align: center;
}
#home #getStarted {
  border: none;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: red;
  border-radius: 40px;
  color: white;
  position: relative;
  font-family: Bebas Neue;
  font-weight: regular;
  font-size: 30px;
  top: 35vh;
  left: 45vw;
}
.imageCercle {
  width: 204px;
  height: 204px;
  background: url("../images/v90_108.png");
  opacity: 0.30000001192092896;
  position: absolute;
  top: 50vh;
  left: 50vw;
  border-radius: 50%;
}
#ageInput {
  width: 100vw;
  height: 100vh;
  background-color: black;
  display: none;
}
#ageInput.active {
  display: block;
}
#ageInput label {
  position: relative;
  font-family: Bebas Neue;
  font-weight: regular;
  font-size: 40px;
  color: white;
  background-color: rgb(189, 0, 0);
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 15px;
  top: 30vh;
  left: 30vw;
}
#ageInput .input {
  position: relative;
  font-family: Bebas Neue;
  font-weight: regular;
  width: 5vw;
  font-size: 30px;
  top: 42vh;
  left: 8.5vw;
  background-color: rgb(51, 49, 49);
  color: white;
  outline: none;
}
#ageInput .submit {
  position: relative;
  font-family: Bebas Neue;
  font-weight: regular;
  top: 42vh;
  left: 10vw;
  border: none;
  background-color: red;
  border-radius: 40px;
  color: white;
}
#ageInput .submit:hover {
  background-color: rgb(121, 0, 0);
}
#timeFrame {
  width: 100vw;
  height: 100vh;
  background-color: black;
  display: none;
}
#timeFrame.active {
  display: block;
}
