* {
  box-sizing: border-box;
  background-color: black;
}
#source {
  position: fixed;
  bottom: 0;
  font-family: Bebas Neue;
  color: rgb(155, 155, 155);
  font-size: smaller;
  z-index: 10;
  background-color: transparent;
  text-align: center;
  width: 100%;
  
}
#source:hover{
  color: white;
}
#home {
  display: none;
}
#home.active {
  display: block;
}
#home h1 {
  font-family: Bebas Neue;
  color: rgb(255, 255, 255);
  top: 200px;
  /* text-align: center; */
  font-size: 60px;
  z-index: 90;
  background-color: transparent;
}
#ageInput {
  display: none;
}
span.error-message {
  position: absolute;
  top: 360px;
  left: 645px;
  font-family: Bebas Neue;
}
#ageInput.active {
  display: block;
}
#ageInput h1 {
  font-family: Bebas Neue;
  color: rgb(255, 255, 255);
  top: 200px;
  text-align: center;
  font-size: 60px;
  z-index: 90;
  background-color: transparent;
}
#ageInput input {
  top: 300px;
  position: absolute;
  z-index: 100;
  font-size: 40px;
  color: red;
  width: 80px;
  background-color: black;
  left: 732px;
  font-family: Bebas Neue;
}

button {
  font-family: Bebas Neue;
  border: none;
  background-color: red;
  border-radius: 40px;
  color: white;
  margin-left: 20px;
  z-index: 100;
}

#getStarted {
  width: 150px;
  position: fixed;
  bottom: 400px;
  left: 680px;
  font-size: 20px;
  padding: 10px;
}
#start {
  width: 150px;
  position: fixed;
  bottom: 300px;
  left: 680px;
  font-size: 20px;
  padding: 10px;
}

#home #getStarted:hover {
  background-color: rgb(121, 0, 0);
}
#stopButton {
  width: 150px;
  position: fixed;
  bottom: 50px;
  left: 540px;
  z-index: 9;
  font-size: 20px;
  padding: 10px;
}
#playButton {
  width: 150px;
  position: fixed;
  bottom: 50px;
  left: 540px;
  z-index: 9;
  font-size: 20px;
  padding: 10px;
}
#replayButton {
  width: 150px;
  position: fixed;
  bottom: 50px;
  left: 680px;
  z-index: 9;
  font-size: 20px;
  padding: 10px;
}
#speedButton {
  width: 70px;
  position: fixed;
  bottom: 50px;
  left: 710px;
  z-index: 9;
  font-size: 20px;
  padding: 10px;
}
#speedButton:hover {
  background-color: rgb(121, 0, 0);
}
#renderEnd {
  width: 150px;
  position: fixed;
  bottom: 50px;
  left: 798px;
  z-index: 9;
  font-size: 20px;
  padding: 10px;
}

button:hover {
  background-color: rgb(121, 0, 0);
}

#bubblesButton {
  width: 250px;
  border: none;
  border-radius: 40px;
  padding: 20px;
  margin-right: 200px;
  color: white;
  top: 280px;
  position: absolute;
  font-size: 20px;
}

#timeFrame {
  display: none;
}
#timeFrame.active {
  display: block;
  /* opacity: 0; */
}

img {
  width: 200px;
}

a {
  color: #fff;
  font-weight: bold;
  display: block;
}

span {
  color: #fff;
  display: inline-block;
  margin-top: 10px;
  font-size: 14px;
}

/* .html { background: #F16529; }
.css  { background: #1C88C7; }
.js   { background: #FCC700; } */

.serie-card {
  width: 300px; /* Largeur de la carte */
  /* border: 1px solid #ff0000; */

  border-radius: 10px;
  /* overflow: hidden;
  box-shadow: 0 4px 8px rgba(210, 163, 163, 0.1); */
  margin: 20px;
  z-index: 10;

  position: absolute;
  visibility: hidden;
  background-color: white;
  /* display: flex; */
  font-family: sans-serif;
  /* max-width: 500px; */
}

.serie-image {
  width: 100%;
  height: 200px; /* Hauteur de l'image */
  object-fit: cover;
  border-radius: 10px;
}

.serie-info {
  border-radius: 10px;
  background-color: white;
  padding: 15px;
}

.serie-title {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
  color: black;
  background-color: white;
  text-align: left;
}
.serie-episode {
margin: 0;
  font-size: 14px;
  color: #000000;
  border-radius: 10px;
  background-color: white;
  text-align: left;
}

.serie-description {
  margin-top: 10px;
  font-size: 14px;
  color: #666;
  border-radius: 10px;
  background-color: white;
  text-align: left;
}

.serie-details {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  font-size: 12px;
  color: #999;
}

.serie-date {
  background-color: white;
  margin-right: 10px;
  color: black;
}

.serie-note {
  background-color: white;
  font-size: 14px;
  color: rgb(255, 187, 0);
}

#bubbleGraph div {
  cursor: pointer;
}
#backButton {
  width: 100px;
  position: fixed;
  top: 10px;
  left: -10px;
  font-family: Bebas Neue;
  font-size: 20px;
  padding: 10px;
  /* visibility: hidden; */
}

html,
body {
  margin: 0px;
  padding: 0px;
  border: 0px;
  text-align: center;
  overflow: hidden;
  text-align: center;
  width: 100%;
  height: 100%;
}

h1 {
  position: relative;
  top: -60%;
  display: inline;
}
