* {
  box-sizing: border-box;
  background-color: black;
}

#home {
  display: none;
}
#home.active {
  display: block;
}
h1 {
  font-family: Bebas Neue;
  color: white;
  font-size: 40px;
  margin-top: 250px;
  text-align: center;
}
#home #getStarted {
  font-family: Bebas Neue;
  border: none;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: red;
  border-radius: 40px;
  color: white;
  font-size: 30px;
  margin-left: 650px;
}
#home #getStarted:hover {
  background-color: rgb(121, 0, 0);
}


/* div.image:hover{
  background: none;
  background-color: red;
} */
#ageInput {
  display: none;
}

#ageInput.active {
  display: block;
}

#ageInput .input {
  font-family: Bebas Neue;
  width: 80px;
  font-size: 30px;
  background-color: rgb(51, 49, 49);
  color: white;
  outline: none;
  margin-left: 670px;
}
#ageInput .submit {
  border: none;
  background-color: red;
  border-radius: 40px;
  color: white;
  margin-left: 20px;
}
#ageInput .submit:hover {
  background-color: rgb(121, 0, 0);
}

#timeFrame {
  display: none;
}
#timeFrame.active {
  display: block;
}
